#about ol {
	list-style-type: decimal;
	margin: 0 auto;
	font-size: 22px;
	font-weight: bold;
	width: 70%;
}

#about ol h4 {
	margin-top: 25px;
	font-size: inherit;
}

#about ol p {
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

.about-sign-up {
	font-weight: normal;
}

h4.about-sign-up a {
	text-decoration: underline;
	font-weight: bold;
}

h4.about-sign-up a:hover {
	color: gray;
}

@media screen and (max-width: 1080px) {
	#about {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media screen and (max-width: 600px) {

	#about {
		line-height: 1.4;
		padding-left: 0;
		padding-right: 0;
	}

	#about ol {
		width: 80%;
		font-size: 18px;
	}

	#about ol h4 {
		margin-top: 20px;
	}

	#about h1 {
		font-size: 24px;
		line-height: 1.3;
	} 

	#about ol p {
		font-size: 15px;
	}

}

