.banner {
	background: url('/banner-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 300px;
	background-color: #a7a8a0;
	height: 300px;
	line-height: 300px;
	text-align: center;
	color: white;
	font-size: 30px;
}

@media screen and (max-width: 600px) {

	.banner {
		background-size: auto 200px;
		height: 200px;
		line-height: 200px;
	}
}
