.banner {
	background: url('/banner-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 300px;
	background-color: #a7a8a0;
	height: 300px;
	line-height: 300px;
	text-align: center;
	color: white;
	font-size: 30px;
}

.overlay {
	/*background-color: rgba(0,0,0,.4);*/
	/*height: 100%;*/
}

.banner p {
	padding-top: 20px;
	display: none;
}

@media screen and (max-width: 600px) {

	.overlay p {
		font-size: 22px;
	}

	.banner {
		background-size: auto 200px;
		height: 200px;
		line-height: 200px;
	}
}
