.community-activity {
	padding: 0;
	min-height: 300px;
}

.community-activity img {
	height: 100px;
	width: 100px;
	float: left;
	border-radius: 50%;
	margin: 0 15px 15px 0;
}

.community-header {
	height: 130px;
	margin: 25px auto 0 auto;
	padding: 0 80px;
}

.community-activity .snippet {
	margin: 5px 0 25px 0;
	padding: 0 80px;
	line-height: 1.3;
	color: #676767;
}

.community-activity a:hover {
	color: #999;
}

.community-date {
	margin-top: -4px;
	font-weight: bold;
	color: #ccc;
}

.community-username, .community-title {
	font-weight: bold;
}

.community-from {
	background-color: #f1f1f1;
	border-bottom: 2px solid #c6c6c6;
	padding: 5px 15px;
	font-size: 14px;
	text-align: center;
	color: gray;
	margin-top: 0;
}

.community-title {
	color: #5d5d5d;
}

.community-activity button {
  border: 1px solid gray;
  padding: 10px;
  font-size: 100%;
  font: inherit;
  border-radius: 5px;
  margin: 50px auto;
  display: block;
}

.community-activity button:hover {
  background-color: #f1f1f1;
  color: #666;
  cursor: pointer;
}

.community-activity button:disabled {
  border: 1px solid #ccc;
}

.community-activity button:hover:disabled {
  background-color: inherit;
  color: #ccc;
  cursor: default;
  border: 1px solid #ccc;
}

@media screen and (max-width: 800px) {

	.community-header {
		padding: 0 30px;
	}

	.community-activity .snippet {
		padding: 0 30px;
	}

}

@media screen and (max-width: 600px) {

	.community-item {
		font-size: 16px;
	}

	.community-activity img {
		height: 40px;
		width: 40px;
	}

	.community-header {
		height: 55px;
		padding: 0 15px;
	}

	.community-activity .snippet {
		padding: 0 15px;
	}

	.community-date {
		font-size: 14px;
	}

}