.community-activity img {
	height: 100px;
	width: 100px;
	float: left;
	border-radius: 50%;
	margin: 0 15px 15px 15px;
}

.community-header {
	height: 130px;
	margin: 0 auto;
}

.community-activity .snippet {
	margin: 5px 15px 25px 15px;
    line-height: 1.3;
    color: #676767;
    font-size: 15px;
}

.community-date {
	margin-top: -4px;
	font-weight: bold;
	color: #ccc;
}

.community-username, .community-title {
	font-weight: bold;
}

.community-from {
	background-color: #fafafa;
	border-bottom: 2px solid #cecece;
	padding: 5px 15px;
	font-size: 14px;
	text-align: center;
	color: gray;
}

.community-title {
	color: #5d5d5d;
}

@media screen and (max-width: 600px) {

	.community-activity img {
		height: 40px;
		width: 40px;
		float: left;
		border-radius: 50%;
	}

	.community-header {
		height: 55px;
	}

	.community-date {
		font-size: 14px;
	}

}