.ex-photo {
	display: inline-block;
	vertical-align: top;
	padding: 7px 40px 0 0;
	width: 240px;
}

.disc-last-updated {
	font-weight: bold;
	font-size: 20px;
	color: gray;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #bdbdbd;
	text-align: center;
	padding: 10px 0;
}

.disc-item-container {
	display: inline-block;
	width: 70%;
}

.disc-item-container a:hover {
	color: #bdbdbd;
}

.disc-item-venue {
	line-height: 1.3;
	color: #bdbdbd;
	font-size: 15px;
}

.disc-item-date {
	color: gray;
	font-size: 15px;
}

.disc-item-descr {
	margin-top: 0px;
}

@media screen and (max-width: 875px) {
	.ex-photo {
		max-width: 35%;
	}

	.disc-item-container {
		max-width: 65%;
	}
}

@media screen and (max-width: 600px) {

	section.discussions {
		padding: 25px 10px;
	}

	.disc-item-container h2 {
		font-size: 22px;
		line-height: 1.3;
	}

	.disc-item-container {
		font-size: 15px;
	}

	.ex-photo {
		width: 35%;
		padding-right: 15px;
	}

	.disc-last-updated {
	font-size: 15px;
}


}