.exhibition-heading {
	font-size: 15px;
	padding: 0 30px;
}

.single-disc-venue {
	line-height: 1.3;
	color: #bdbdbd;
	padding-left: 20px;
	font-size: 14px;
}

.single-disc-date {
	color: gray;
}

.single-disc-descr {
	margin-top: 0;
	line-height: 1.3;
}

.exhibition-heading h3 {
	padding: 15px 0;
}

@media screen and (max-width: 600px) {
	.exhibition-heading {
		padding: 0 15px;
	}
}