.follow-user-form {
	max-width: 550px;
	width: auto;
}

.follow-wrapper img {
	margin: 0;
}

.follow-wrapper {
	text-align: center;
}

.follow-wrapper h2 {
	font-size: 22px;
}

.follow-wrapper .about {
	font-size: 16px;
	line-height: 1.2;
	padding: 10px 0;
	text-align: left;
}

.follow-user-form button {
	width: 40%;
	margin-top: 25px;
	margin-left: 5%;
	margin-right: 5%;
}

@media screen and (max-width: 600px) {

}