.follow-user-form {
	max-width: 550px;
	width: auto;
}

.follow-user-form img {
	float: left;
	margin: 0 25px 25px 0;
}

.follow-wrapper {
	height: 150px;
	overflow: hidden;
}

.follow-wrapper h2 {
	text-align: left;
}

.follow-user-form button {
	width: 40%;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
}

@media screen and (max-width: 600px) {
	.follow-wrapper {
		height: 100px;
	}
}