form.profile-pic-form {
	width: 294px;
	height: 294px;

	text-align: center;
}

.drop-instructions {
	color: gray;
	margin-top: 50px;
	font-size: 18px;
}

.profile-pic-form .profile-pic {
	float: none;
	margin: 0 0 20px 0;
}

.profile-pic-form button {
	width: 50%;
}

.dropzone-container {
	border: 3px dotted gray;
    border-radius: 5px;
    width: 230px;
    height: 230px;
    margin: 0 auto;
}