form.profile-pic-form {
	text-align: center;
}

.drop-instructions {
	color: gray;
	margin-top: 50px;
	font-size: 18px;
}

.profile-pic-form img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: 30px auto;
}

.profile-pic-button-container {
	margin: 10px 20px;
}

.profile-pic-form button {
	width: 42%;
	margin: 0 4% 20px 4%;
	display: inline-block;
}

.dropzone-container {
	border: 3px dotted gray;
    border-radius: 50%;
    width: 230px;
    height: 230px;
    margin: 30px auto;
}

.dropzone-container:hover {
	cursor: pointer;
}