.search-modal.modal-container {
	max-width: 500px;
}

.search-form .form-container {
	padding: 13px 25px 0 25px;
}

.search-form {
	height: 140px;
	overflow-y: hidden;
	border-bottom: 0;
}

.search-form input {
	padding: 10px 15px;
	font-size: 18px;
	height: auto;
	width: 75%;
	line-height: 20px;
}

.search-form label {
	font-weight: bold;
	font-size: 18px;
}

.search-form input[placeholder] {
	color: #c7c7c7;
} 

.search-form button {
	padding: 10px 0;
	font-size: 18px;
	height: auto;
	width: 24%;
    margin-left: 1%;
	line-height: 20px;
}

.search-results-container {
	top: 170px;
	max-width: 500px;
}

.search-results {
	background-color: white;
	border: 1px solid #bbb;
	border-top: none;
	overflow-y: auto;
	max-height: 400px;
	padding: 0 30px 30px 30px;

}

.search-results li {
	border-bottom: 1px solid gray;
	padding: 20px 0;
	font-size: 16px;
}

.result-list li:hover {
	background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {

	.search-form input, .search-form button {
		font-size: 16px
	}

}

@media screen and (max-width: 400px) {
	.modal-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 320px) {
	.modal-title {
		font-size: 18px;
	}
}