.search-form {
	width: 550px;
}

.search-form input {
	padding: 10px 15px;
	font-size: 20px;
	height: auto;
	width: 80%;
	line-height: 20px;
}

.search-form input[placeholder] {
	color: #c7c7c7;
} 

.search-form button {
	padding: 10px 15px;
	font-size: 20px;
	height: auto;
	width: 20%;
	line-height: 20px;
}