.user-profile {
	height: 210px;
	overflow: hidden;
	background-color: #fafafa;
	border-bottom: 1px solid #d6d6d6;
}

.profile-pic {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

.user-profile img {
	float: left;
	margin-right: 35px;
}

.location {
	margin-top: 0;
	font-size: 14px;
}

.user-profile h2 {
	padding-top: 15px;
}

@media screen and (max-width: 600px) {

	img.profile-pic {
		height: 100px;
		width: 100px;
		margin-right: 20px;
	}

	.user-profile {
		padding: 15px;
		height: 130px;
	}

	.user-profile h2 {
		padding-top: 5px;
		font-size: 22px;
	}

	.location {
		margin-top: -5px;
		color: #969696;
	}

	.about {
		margin-top: 10px;
		font-size: 14px;
	}

}