.user-profile img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	float: left;
	margin-right: 35px;
}

.user-profile {
	min-height: 210px;
}

.location {
	margin-top: 0;
	font-size: 14px;
}

.user-profile h2 {
	padding-top: 15px;
}