.user-nav {
	width: 100%;
	padding: 0;
}

.user-nav h2 {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
}

.user-nav h2.inactive, .user-nav h2.active {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.user-nav h2.active {
	border-bottom: 2px solid gray;
}

.user-nav h2.inactive {
	color: #bbb;
	border-bottom: 2px solid #d6d6d6;
	font-weight: normal;
}

.user-nav h2.inactive:hover {
	color: #999;
	background-color: #fafafa;
} 

@media screen and (max-width: 600px) {

	.user-nav h2 {
		font-size: 16px;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: padding 300ms ease;
	}

	.sticky-outer-wrapper.active h2 {
		padding-top: 5px;
		padding-bottom: 5px;
	}

}