footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	background-color: #aaa;
	text-align: center;
	font-size: 14px;
}

p.footer-text {
	text-align: center;
}

@media screen and (max-width: 600px) {

	p.footer-text {
		font-size: 12px;
	}

} 

@media screen and (max-width: 330px) {

	p.footer-text {
		font-size: 11px;
	}
	
} 