nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  background-color: #222;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3); 
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  color: #fff;
}

.nav-site-title {
  display: inline-block;
	font-size: 24px;
	text-align: left;
  padding-left: 26px;
}

.nav-items-container {
  float: right;
}

.nav-items-container a:hover {
  border-bottom: 2px solid #fff;
}

.nav-item {
  float: right;
  padding: 0 26px;
  font-size: 16px;
}